<section id="modal" class="modal">
  <div class="modalBg">
    <div class="modalWrapper">
      <div class="modalContents">
        <%= simple_format(flash[:success]) if flash[:success].present? %>
      </div>
      <div id="modalClose" class="modalClose">
        <button>スキル編集ページに戻る</button>
      </div>
    </div>
  </div>
</section>

<div class="wrapper">
  <%= select_tag 'custom_select', options_for_select(@months_options) %>

  <% Category.all.each do |category| %>
  <div class="category">
    <div class="title">
      <p><%= category.name %></p>
      <div class="new-item-link">
        <%= link_to '項目を追加する', new_item_path(category_id: category.id) %>
      </div>
    </div>
    <div class="skill-table">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="item_name">項目名</th>
            <th scope="col" class="">学習時間</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @items.select{|item| item.category.name == category.name}.each do |item| %>
            <tr>
              <td><%= item.name %></td>
              <%= form_with(model: item, method: :patch, local: true) do |f| %>
                <td style="padding: 16px;"><%= f.number_field :learning_time %></td>
                <td style="padding: 16px;"><%= f.submit '学習時間を保存する', class: 'submit-btn' %></td>
              <% end %>
              <td style="padding: 16px 40px 16px 16px;"><div class="delete-link"><%= link_to '削除', item_path(item), data: { turbo_method: :delete, confirm: '本当に削除しますか？' } %></div></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <% end %>
</div>