<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
  </head>

  <body>
  <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
    </div>
  <%= render 'layouts/footer' %>
  <% if flash[:success].present? %>
    <script>
      const modal = document.getElementById('modal');
      if (modal) {
        modal.style.display = 'block';
      }
      const closeModal = document.getElementById('modalClose');
      closeModal.addEventListener('click', function(){
        modal.style.display = 'none';
      });
    </script>
  <% end %>
  </body>
</html>
